/* Style Reset */
* {
    margin: 0;
    padding: 0;
}


/* General Layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Title formatting */
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 2em 0 0;
}

/* Controls */
button { 
    margin: 1em;
}

/* Etch-A-Sketch Grid */
div {
    border: solid 1px;
    height: 50em;
    width: 50em;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    border: none;
}

.square {
    width: 100%;
    height: 100%;
}
