/* Style Reset */
* {
    margin: 0;
    padding: 0;
}


/* General Layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Title formatting */
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 2em 0 0;
}

/* Controls */
#controls {
    display: flex;
}

button { 
    margin: 1em;
    width: 100px;
    padding: 0.2em 0;
    background: none;
    border: solid 1px;
    border-radius: 15px; 
}

button:active {
    background-color: #666;
    color: #fff;
}

button:hover {
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

#colour {
    margin: 1em;
    width: 100px;
    height: 2em;
    padding: 0.4em 2.5em;
    background: none;
    border: solid 1px;
    border-radius: 15px; 
}

#colour:active {
    background-color: #666;
    color: #fff;
}

.slider {
    appearance: none;
    margin: 0.5em auto 1em;
    width: 30em;
    background: #f2f2f2;
    border-radius: 25px;
}

#slider-label {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Etch-A-Sketch Grid */
div {
    height: 50em;
    width: 50em;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    border: none;
}

.square {
    width: 100%;
    height: 100%;
    border: solid 1px;
    background-color: #fff;
}
